{
  "Parameters": {
    "AUTHENTICATION_TOKEN": "lemme in",
    "DATABASE_USER": "myuser",
    "DATABASE_PASSWORD": "mypass",
    "DATABASE_HOST": "host.docker.internal",
    "DATABASE_PORT": "15432",
    "DATABASE_NAME": "serverless_db"
  }
}